#map-filter-overlay {
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
}

.neighborhood-list {
  overflow: auto;
  max-height: 100%;
}

.neighborhood-list > * {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 5px 10px;
  margin: 0;
}
